  .speechApp-design {
      line-height: 2;
  }

  .select-speechApp {
      width: auto;
      border-radius: .5em;
      height: auto;

      outline: none;
      font-family: f1FontRegular;
      font-size: 15px;
      line-height: 1.5;

      text-align: left;
      border: none;
      /* border: 1px solid #e9ecef; */
      /* color: #212529; */
      color: lightblue;

      font-weight: "bold";
      background-color: rgb(42, 61, 82, .5);
      overflow-wrap: break-word;
      padding: 1em 0em;
  }

  .input-textarea-speechApp {
      min-width: 90% !important;
  }

  .select-language-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-inline: .5em;
      padding-top: .5em;
      padding-bottom: .5em;
      line-height: 1.2;
  }

  @media (prefers-color-scheme: light) {
      .select-speechApp {
          background-color: lightgray;
          color: rgb(42, 61, 82, .5);
      }
  }