#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* keep objects at center */
  /* padding: 2rem; */
  text-align: center;
}

@font-face {
  font-family: f1FontBlack;
  src: url('/fonts/Formula1-Black.ttf') format('truetype');
}

@font-face {
  font-family: f1FontBold;
  src: url('/fonts/Formula1-Bold.ttf') format('truetype');
}

@font-face {
  font-family: f1FontRegular;
  src: url('/fonts/Formula1-Regular.ttf') format('truetype');
}

@font-face {
  font-family: f1FontWide;
  src: url('/fonts/Formula1-Wide.ttf') format('truetype');
}

h2 {
  font-family: f1FontBlack;
  color: red;
}

h1 {
  font-family: f1FontBold;
  color: white;
  line-height: 1.1;
}

body {
  font-family: f1FontRegular;
  color: whitesmoke;
}

@media (prefers-color-scheme: light) {

  h1,
  body {
    color: dimgray;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.1em;
  }

  h2 {
    font-size: .8em;
  }
}